<div class="allContainer">
  <div class="navbar">
    <div class="logo"></div>
    <div class="menuList">
      <div class="menuButton" [routerLink]="'/predict'" routerLinkActive="active">
        <mat-icon>auto_awesome</mat-icon>
        Predicció
      </div>
      <div class="menuButton" [routerLink]="'/optimize'" routerLinkActive="active">
        <mat-icon>insights</mat-icon>
        Optimització
      </div>
      <div class="menuButton" [routerLink]="'/settings'" routerLinkActive="active">
        <mat-icon>psychology</mat-icon>
        Entrenament
      </div>
      <div class="menuButton" [routerLink]="'/models'" routerLinkActive="active">
        <mat-icon>history</mat-icon>
        Models passats
      </div>
    </div>
  </div>
  <div class="mainElement">
    <router-outlet></router-outlet>
  </div>
</div>
