<div class="mainContainer">
  <h1>Predicció de consum</h1>
  <div class="divSimple">
    <div class="contenidorSuperior">
      <div class="barraSlider">
        <div>
          1 dia
        </div>
        <mat-slider min="1" max="3" step="1" showTickMarks discrete>
          <input matSliderThumb>
        </mat-slider>
        <div>
          3 dies
        </div>
      </div>
      <button mat-button class="botoDefault">Nova predicció</button>
    </div>

    <div class="contenidorPrediccions">
      <div class="colPrediccions">
        <div class="col">
          Dia
        </div>
        <div class="col">
          Hora
        </div>
        <div class="col">
          Consum previst
        </div>
      </div>
      <div class="prediccionsOverflow">
      <ng-container *ngFor="let _ of [].constructor(72)">
        <div class="prediccions">
          <div class="col">A</div>
          <div class="col">A</div>
          <div class="col">A</div>
        </div>
        <div class="divisor"></div>
      </ng-container>
        </div>
    </div>
  </div>
</div>
