
.mainContainer {
  font-family: "Inria Sans" !important;
  font-size: 18px;
}

.divSimple {
  background-color: white;
  border-radius: 20px;
  width: calc(100% - 32px);
  height: calc(100% - 82px);
  padding: 16px;
  overflow: hidden;
}

.optimitzacioContainers {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contenidorDetalls {
  display: flex;
  width: calc(100% - 128px);
  gap: 16px;
  justify-content: space-between;
  padding: 64px;
}

.contenidorInput {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.botoGenerar {
  width: 100%;
  margin: 0 auto;
  align-items: center !important;
  text-align: center;

}

.headerDescarregaExcel {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* Contenidor amb la taula */
.contenidorPrediccions {
  background-color: #D2DDFA;
  border-radius: 20px;
  padding: 16px;
  width: calc(100% - 32px);
  height: calc(100% - 82px);
}

.colPrediccions {
  background-color: #ADC5F4;
  border-radius: 20px;
  padding: 16px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.prediccions {
  padding: 16px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}


.col {
  text-align: center;
  width: 100%;
}

.baix {
  background-color: rgb(205, 96, 96, 0.7);
  color: white;
}

.mitja {
    background-color: rgb(255, 165, 0, 0.7);
  color: white;
}

.alt {
  background-color: rgb(0, 128, 0, 0.7);
  color: white;
}

.full {
  background-color: rgb(100, 149, 237, 0.7);
  color: white;
}

.prediccionsOverflow {
  height: calc(100% - 42px);
  overflow: scroll;
}

.costTotalContainer {
  width: 100%;
  text-align: center;
}
