<div class="mainContainer">
  <h1>Nou entrenament</h1>
  <div class="entireDiv">
    <div class="divForPrompt">

      <input type="file" class="file-upload" (change)="onFileSelected($event)" #fileInput style="display: none"
             accept=".xlsx">
      <div class="innerDiv">
        <mat-icon class="bigIcon">file_copy</mat-icon>
      </div>
      <div>
        Penja un arxiu <b>Excel (.xlsx)</b> per entrenar un nou model
      </div>
      <button mat-button class="botoDefault" (click)="fileInput.click()" [disabled]="pujantModel">
        Tria arxiu
      </button>
      <div *ngIf="chosenFile">
        {{ fileName }}
      </div>
    </div>
    <div class="recomanacions">
      Recomanacions:
      <ul>
        <li>
          Per a millors resultats, entrar històrics de, com a mínim, <b>24 hores</b>
        </li>

      </ul>
    </div>
      <div *ngIf="chosenFile && !pujantModel">
        Model penjat! Recorda seleccionar-lo abans de fer prediccions.
      </div>

    <div class="contenidorSencer" *ngIf="pujantModel">
      <mat-spinner
      ></mat-spinner>
      <div class="textGeneric centraText">
        Espera mentre es processa el teu model...
      </div>
    </div>

  </div>
</div>
