<div class="mainContainer">
  <h1>Nou entrenament</h1>
  <div class="entireDiv">
    <div class="divForPrompt">

      <input type="file" class="file-upload" (change)="onFileSelected($event)" #fileInput style="display: none"
             accept=".xlsx">
      <div class="innerDiv">
        <mat-icon class="bigIcon">file_copy</mat-icon>
      </div>
      <div>
        Penja un arxiu <b>Excel (.xlsx)</b> per entrenar un nou model
      </div>
      <button mat-button class="botoDefault" (click)="fileInput.click()" [disabled]="pujantModel">
        Tria arxiu
      </button>
      <div *ngIf="chosenFile">
        {{ fileName }}
      </div>
    </div>
    <div class="recomanacions">
      Recomanacions:
      <ul>
        <li>
          Per a millors resultats, entrar històrics de, com a mínim, <b>24 hores</b>
        </li>
      </ul>
      Si vols prediccions a llarg termini:
      <ul>
        <li>
          Intenta que hi hagi una periodicitat predeterminada. Es recomanen entrar registres de <b>1 dia, 7 dies, 14
          dies,
          30 dies.</b>
        </li>
        <li>
          Intenta evitar un nombre de registres massa proper - però no coincident - amb els de periodicitat recomanada.
          No són bons registres les mostres de  <b>2 dies, 6 dies, 13 dies.</b>
        </li>

      </ul>
    </div>
    <div *ngIf="chosenFile && !pujantModel">
      Model penjat! Recorda seleccionar-lo abans de fer prediccions.
    </div>

    <div class="contenidorSencer" *ngIf="pujantModel">
      <mat-spinner
      ></mat-spinner>
      <div class="textGeneric centraText">
        Espera mentre es processa el teu model...
      </div>
    </div>

  </div>
</div>
